.container {
  display: flex;
  justify-content: center;

  .headerContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  mat-card {
    height: 94vh;
    margin: 20px;
    width: 100%;

    .rooms {
      height: 70vh;
      width: 350px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .chatroom {
      margin: 0 40px;
      width: 100%;
    }
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: lightgray;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: lightgray;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: lightgray;
}
