<span style="display: flex;"  [ngClass]="{ownContainer: message.user.id === user.id}">
  <p *ngIf="edit === false" [ngClass]="{ownMessage: message.user.id === user.id}" class="messageText">
      <em>{{message.text}}</em>
        <mat-icon class="editIcon" *ngIf="message.user.id === user.id" (click)="changeEdit()">
        edit
        </mat-icon>
      <em *ngIf="message.user.id !== user.id; else null">
        {{ message.user.username }}
      </em>
  </p>
<p *ngIf="edit">
   <input matInput value="{{message.text}}" [formControl]="messageText" type="text" (keydown.enter)="updateMessage()">
  </p>
</span>

